/* ------------------ Resets ------------------------------------------------------- */
* {margin: 0; padding: 0; box-sizing: border-box;}

html,body {height: 100%;}

body {font-size: 14px; font-family: 'Lato','HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 400; line-height: 1; color: #4b4f54; background: #022f59;}

/* Default Link Styles */
a {color: #ffa400; text-decoration: none;}
a:hover {color: #cccac8;}

/* Default List Styles */
ul, ol {list-style-type: none;}

/* Default img style */
img {border: none;}

/* Default focus style */
:focus {outline: none;}

::selection {background: #ffa400;}

select {color: #4b4f54; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;}

/* ---------------- Aslett clearing method ------------------------------------------ */
.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0;}

* html .clearfix { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */