// -------------------------
// Buttons
// -------------------------

%button_basic {background: $color_util_2; color: $color_text_white; text-align: center; border: none; font-size: 12px; text-transform: uppercase;}

%button_primary {
    font-family: $font_roboto; display: block; width: 100%; padding: 20px 0; text-align: center; background: $color_brand_secondary; border: none; color: $color_text_white; font-size: 22px; border-radius: 3px; cursor: pointer;
    @media #{$break_large} {
        &:hover { background: $color_brand_primary ; }
    }
}

%button_ajax_load {
    i { display: none; }
    &:disabled {
        span { display: none; }
        i { display: inline-block; }
    }
}


// -------------------------
// Lists
// -------------------------
%list_checklist {
    li {
        font-size: 0; margin-bottom: 20px; line-height: 1.5;
        i {width: 30px; padding-right: 15px; vertical-align: top; font-size: 22px; color: $color_brand_secondary; margin-top: 3px;}
        span {display: inline-block; width: calc(100% - 50px); font-size: 16px; font-weight: 300;}
    }
}

// -------------------------
// Layout
// -------------------------

%clearfix {
    &:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
}

%site_width { max-width: 1400px; margin: 0 auto; }

%site_width_padded { @extend %site_width; padding: 0 $minimumPageOffset; }

%site_width_small {max-width: 750px; margin: 0 auto;}

%content_margin_offset {
    @extend %site_width; margin-left: $minimumPageOffset; margin-right: $minimumPageOffset;
    @media #{$break_small} {
        margin-left: $mediumPageOffset; margin-right: $mediumPageOffset;
    }
    @media #{$break_medium} {
        margin-left: 15px; margin-right: 15px;
    }
}

// -------------------------
// Product Grid
// -------------------------

%product_list_items {
    font-size: 0; margin: 10px 0 0 -20px; text-align: center; padding: 0 0 15px 0;
    li { display: inline-block; width: 50%; padding-left: 20px; margin-bottom: 10px; }
    img { max-width: 100%; }
    h3 {
        font-size: 11px; font-weight: 300; text-align: center; margin: 5px 0 0 0;
        span { display: block; font-weight: 700; margin-bottom: 5px; }
    }
    a { color: $color_text_medium; }
    @media #{$break_small} {
        li { width: calc(100% / 3); margin-bottom: 20px; }
        h3 { font-size: 12px; }
    }
    @media #{$break_large} {
        li { width: calc(100% / 4); }
        a:hover {
            h3 span { color: $color_text_dark; }
        }
    }
}

// -------------------------
// Content Slider
// -------------------------

%slider_pages {
    display: inline-block; text-align: center; vertical-align: middle; margin: 15px 0;
    .bx-pager-item { display: inline-block; margin: 0 3px; }
    .bx-pager-item a { display: block; width: 10px; height: 10px; border-radius: 10px; border: 1px solid $color_util_2; font-size: 0; text-indent: -9999px; }
    .bx-pager-item a.active { background: $color_util_2; }
}

%slider_nav_arrow {
    display: none; font-family: $font_fontAwesome; vertical-align: middle;
    a { display: block; color: $color_text_medium; font-size: 18px; padding: 5px; }
    a.disabled { color: $color_text_light; }
    @media #{$break_large} {
        display: inline-block;
    }
}


// -------------------------
// Product Detail
// -------------------------

%prod_feature_section {
    text-align: center; margin: 15px auto 15px auto; max-width: 850px; padding: 0 30px; font-size: 14px;
    h2 { margin: 0 auto; font-family: $font_din_regular; font-size: 22px; padding: 15px 0; text-transform: uppercase; color: $color_text_dark; }
    @media #{$break_small} {
        padding: 0 50px;
    }
}

// -------------------------
// Shopping Cart
// -------------------------

%cart_item_section {
    display: inline-block; vertical-align: middle; font-size: 12px;
}


