// =====================================
// Media Query Variables
// =====================================
$break_x-small          :   '(min-width: 400px)';
$break_small            :   '(min-width: 700px)';
$break_medium           :   '(min-width: 1000px)';
$break_large            :   '(min-width: 1050px)';
$break_x-large          :   '(min-width: 1500px)';




// =====================================
// Color Variables
// =====================================

// Descriptive Colors
// -------------------------------------
$white                        : #ffffff;
$hubbard_blue                 : #022f59;
$hubbard_yellow               : #ffa400;

$grey_neutral_x-light         : #fafafa;
$grey_neutral_light           : #f9f9f9;
$grey_neutral_medium          : #808080;
$grey_neutral_dark            : #4d4d4d;

$grey_warm_light              : #f7f6f5;
$grey_warm_medium             : #f2f1f0;

$grey_cool_dark               : #696A6D;
$light_grey_orange            : #cccac8;
$almost_white_grey_orange     : #f7f6f5;



// Brand Colors
// -------------------------------------
$color_brand_primary          : $hubbard_yellow;
$color_brand_secondary        : $hubbard_blue;

// Link Colors
// -------------------------------------
$color_link                   : $color_brand_secondary;
$color_link_hover             : $color_brand_primary;

// Text Colors
// -------------------------------------
$color_text_white             : $white;
$color_text_light             : $grey_neutral_light;
$color_text_medium            : $grey_neutral_medium;
$color_text_dark              : $grey_neutral_dark;
$color_text_base              : $grey_cool_dark;



// Background Colors
// ------------------------------------
$color_background_main        : $white;
$color_background_secondary   : $hubbard_blue;


// Utility Colors
// ------------------------------------
$color_util_0                 : $grey_neutral_x-light;
$color_util_1                 : $grey_neutral_light;
$color_util_2                 : $grey_neutral_medium;
$color_util_3                 : $grey_neutral_dark;
$color_util_4                 : $grey_warm_light;
$color_util_5                 : $grey_warm_medium;
$color_util_5                 : $grey_warm_medium;



// =====================================
// Layout Variables
// =====================================
$minimumPageOffset           : 15px;
$mediumPageOffset            : 50px;



// =====================================
// Base Path Variables
// =====================================
$path_image         : '../images/';
$path_font          : '../fonts/';




// =====================================
// Font Variables
// =====================================
$font_sans_serif        :   'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font_lato              :   'Lato', $font_sans_serif;
$font_din_regular       :   'DINCondensed-Regular', $font_sans_serif;
$font_fontAwesome       :   'FontAwesome';
$font_roboto            :   'Roboto Slab', $font_lato;







