// =====================================
// Media Query Variables
// =====================================
$break_xsmall           :   '(min-width: 400px)';
$break_small            :   '(min-width: 700px)';
$break_medium           :   '(min-width: 1050px)';
$break_large            :   '(min-width: 1500px)';




// =====================================
// Color Variables
// =====================================

// Descriptive Colors
// -------------------------------------
$white                        : #ffffff;
$hubbard_blue                 : #022f59;
$hubbard_yellow               : #ffa400;
$light_grey                   : #999999;
$medium_grey                  : #808080;
$dark_grey                    : #4d4d4d;
$dark_grey_blue               : #696A6D;
$light_grey_orange            : #cccac8;
$almost_white_grey_orange     : #f7f6f5;
$hilight_off_white            : #faf9f8;



// Brand Colors
// -------------------------------------
$color_brand_primary          : $hubbard_yellow;
$color_brand_secondary        : $hubbard_blue;

// Link Colors
// -------------------------------------
$color_link                   : $hubbard_yellow;
$color_link_hover             : $light_grey_orange;

// Text Colors
// -------------------------------------
$color_text_white             : $white;
$color_text_light             : $light_grey;
$color_text_base              : $dark_grey_blue;
$color_text_medium            : $medium_grey;
$color_text_dark              : $dark_grey;


// Background Colors
// ------------------------------------
$color_background_main        : $almost_white_grey_orange;
$color_background_secondary   : $hubbard_blue;


// Utility Colors
// ------------------------------------
$color_util_1                 : $light_grey;
$color_util_2                 : $medium_grey;
$color_util_3                 : $dark_grey;
$color_util_4                 : $hilight_off_white;



// =====================================
// Layout Variables
// =====================================
$minimumPageOffset           : 15px;



// =====================================
// Base Path Variables
// =====================================
$path_image         : '../images/';
$path_font          : '../fonts/';




// =====================================
// Font Variables
// =====================================
$font_sans_serif        :   'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font_lato              :   'Lato', $font_sans_serif;
$font_din_regular       :   'DINCondensed-Regular', $font_sans_serif;
$font_din_light         :   'DINCondensed-light', $font_sans_serif;
$font_fontAwesome       :   'FontAwesome';







