@media #{$break_medium} {

    /* ---------------- Feature Blocks ------------------------------------- */
    /* ------------------------------------------------------------------ */
    .center_breaker {padding-top: 45px;}

    .center_breaker_inner {
        h2 {
            font-size: 34px;
            span {top: -15px;}
        }
    }

    .feature_block {
        .feature_block_text {
           font-size: 18px;
        }
    }

    #feature_block_ingredients {
        overflow: hidden; position: relative; font-size: 0; background: #e3e3e3;
        .feature_block_text { position: absolute; top: 55%; left: 60%; background: transparent; display: block; width: 40%; max-width: 350px; padding: 0; text-align: left;}
        .feature_block_text_inner { position: relative; top: -100px; }
        .feature_block_image { padding-top: 39%; background: url('/images/feature_boxes/feature_ingredients.jpg') no-repeat top center; background-size: cover; display: block; width: 60%; float: left; }
    }

    #feature_block_features {
        .feature_block_text {padding: 50px 50px 10px 50px;}
    }


    #feature_block_inside {
        .feature_block_text {padding: 50px 50px 0 50px;}
    }

    #feature_block_size {
        .feature_block_text {padding: 50px 50px;}
    }

    #feature_block_resole {
        .feature_block_text {padding: 50px 50px 10px 50px;}
        .feature_block_image {padding-top: 40%;}
    }

    #feature_items_block {
        a {
            i { border-color: $color_brand_primary;}
        }
        .fi_heel { top: 31%; left: 22%; }
        .fi_tongue { top: 5%; left: 52%; }
        .fi_sole { top: 77%; left: 30%; }
    }


    /* ---------------- Header ------------------------------------------ */
    /* ------------------------------------------------------------------ */
    #user_nav {
        #support_link { display: inline-block; }
    }

    /* ---------------- Mobile Nav ------------------------------------------ */
    /* ------------------------------------------------------------------ */

    #mobile_nav_items {
        > li > a { font-size: 20px; }
    }

    #mobile_nav_items .standard_categories {
        > li { width: calc(100% / 3); }
        span { display: inline-block; width: 150px; vertical-align: top; border-right: 1px solid #dfdede; }
        span a { display: block; height: 95px; background-position: left top; }
    }

    #mobile_nav_items .menu_cat_links {
        display: inline-block; width: calc(100% - 150px);
    }

    #mobile_account_link { display: none; }

    /* ---------------- Breadcrumbs ------------------------------------- */
    /* ------------------------------------------------------------------ */

    #breadcrumbs {
        ul { text-align: left; }
    }

    /* ---------------- Footer ------------------------------------------ */
    /* ------------------------------------------------------------------ */

    .footer_link_group { width: 33.3%; }

    #footer_email_group { width: 33.3%; display: inline-block; border-top: none; padding: 0; margin-top: 5px; }

    #social_links { margin: 20px 0 0 0; }

    /* ---------------- Homepage ------------------------------------------ */
    /* ------------------------------------------------------------------ */

    #publication_logos {
        li {
            padding: 6% 15px 0 15px;
            img { max-height: 40px; }
        }
    }

    /* ---------------- Product Detail -- ------------------------------- */
    /* ------------------------------------------------------------------ */
    #prod_content_upper_container { padding: 0; margin-bottom: 20px; }

    #prod_detail_layout_block_1 { display: inline-block; vertical-align: top; width: calc(70% - 10px); margin-right: 10px; }

    #prod_detail_layout_block_2 { display: inline-block; vertical-align: top; width: calc(30% - 20px); }

    #prod_slider_pages {
        .bx-pager-item { display: inline-block; margin-left: 2px; margin-right: 2px }
        .bx-pager-item a { display: block; text-indent: 0; overflow: hidden; width: 100px; height: 70px; background: transparent; border-radius: 0; border: none; border-bottom: 2px solid transparent; }
        .bx-pager-item a.active { border-color: rgba(0, 0, 0, 0.2); background: transparent; }
        .bx-pager-item img { display: inline; }
    }

    #prod_details { border-radius: 8px; margin-top: -20px; background: #ffffff; border: 1px solid rgba(0, 0, 0, 0.1); }

    #prod_title_group {
        position: static; width: 100%; top: auto; left: auto; padding: 0; background: transparent; border: none; text-align: left;
        h1 { font-size: 30px; text-align: center; padding: 10px 0; margin: 0; background: $color_util_4; border-radius: 6px 6px 0 0; }
    }

    #prod_price_review_block { background: #ffffff; text-align: left; border-top: 1px solid rgba(0, 0, 0, 0.1); border-bottom: 1px solid rgba(0, 0, 0, 0.1); padding: 10px 15px }

    #prod_price { position: static; top: auto; right: auto; display: inline-block; font-size: 24px; width: 80px; }

    #prod_review_summary {
        width: calc(100% - 80px); display: inline-block; padding: 10px 0; text-align: right;
        i { font-size: 20px; }
    }

    #prod_details_lower { border-top: 1px solid #ffffff; border-radius: 0 0 6px 6px; padding: 0; }

    #color_size_container { padding: 10px 15px 0 15px; }

    #color_option_name { display: inline-block; width: 50%; }

    #size_close {
        display: inline-block; margin: 0; width: 50%; text-align: right;
        span { display: none; }
        a { border-radius: 0; font-size: 12px; padding: 5px 8px; border-radius: 10px; }
    }

    #prod_color_swatches {
        margin: 10px 15px 0 15px;
        ul { text-align: left; margin-bottom: 10px; }
        li { width: 25%; margin-bottom: 5px; }
    }

    .prod_option_group { margin-top: 0; margin-bottom: 10px; }

    .prod_option_select { position: relative; box-shadow: 0 0 1px rgba(0, 0, 0, 0.3); }

    .prod_option_items { position: absolute; z-index: 99; width: 100%; border: 1px solid rgba(0, 0, 0, 0.1); box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2); }

    #atc_row { padding-bottom: 15px; }

    #out_of_stock_callout {
        padding: 20px 15px; border-radius: 0 0 5px 5px;
        label { font-size: 16px; padding-bottom: 20px; }
        input { font-size: 14px; }
        button { font-size: 14px; }
    }

    #atc_row {
        button { padding: 20px 0; font-size: 22px; }
    }

    #shipping_callout { background: transparent; }

    /* ---------------- Cart Preview ------------------------------------ */
    /* ------------------------------------------------------------------ */

    #cart_preview_qty {
        display: inline-block; vertical-align: middle; width: 200px; text-align: left;
        label { display: inline-block; vertical-align: middle; width: 40px; text-align: left; margin: 0; }
    }

    #cp_qty_select {
        display: inline-block; vertical-align: middle; width: calc(100% - 40px);
    }

    #cart_preview_actions {
        width: calc(100% - 370px);
        a { display: inline-block; font-size: 16px; width: auto; padding: 15px 25px; }
        a:first-of-type { margin: 0 5px 0 0; }
    }

    /* ---------------- Shopping Cart ------------------------------------ */
    /* ------------------------------------------------------------------ */

    #cart_content_container {
        hr.decorative_break_2 { display: none; }
    }

    #cart_layout_block_1 { width: 70%; padding-right: 30px; }

    #cart_layout_block_2 { width: 30%; }

    #cart_items_header_row {
        display: block;
    }

    .cart_item_block { padding: 20px 10px; margin: 0; }

    .ci_image_title_group { width: 50%; }

    .ci_image { width: 150px; padding-right: 20px }

    .ci_title_group {
        width: calc(100% - 150px);
    }

    .ci_price { width: 20%; font-size: 16px; text-align: center; }

    .ci_qty {
        width: 20%; display: inline-block; font-size: 0; margin: 0; text-align: center;
        span { font-size: 14px; }
        i { font-size: 11px; }
    }

    .ci_remove {
        top: calc(50% - 18px);
    }

    #cart_security_icons { padding: 15px 0 15px 0; }

    /* ---------------- Checkout ------------------------------------ */
    /* ------------------------------------------------------------------ */

    #checkout_footer_inner { width: 70%; }

    #checkout_layout_block_1 { width: 30%; float: right; }

    #checkout_layout_block_2 { width: 70%; padding: 0 25px 100px 15px; }

    .buttons-set {
        overflow: hidden; border-top: 1px solid rgba(0, 0, 0, 0.1); padding: 20px 0 0 0;
        button { float: right; width: 70%; }
        p { float: left; width: 30%; margin-top: 15px; }
    }

    #cart_price_summary {
        border-radius: 5px; border: 1px solid rgba(0, 0, 0, 0.1);
    }

    /* ---------------- Locations --------------------------------- */
    /* ------------------------------------------------------------------ */

    #location_results_container {
        padding-bottom: 50px;
    }

    #locations_search_inner {
        input { width: 400px; display: inline-block; margin: 0 5px 0 0; padding: 17px 10px; vertical-align: middle; }
        button { width: 250px; display: inline-block; vertical-align: middle; }
    }

    #locations_map { width: calc(100% - 300px); height: 600px; float: right; position: relative; padding-left: 15px; }

    #locations_map_inner { padding: 0 15px 0 0; }

    #locations_items_container {
        width: 300px; float: left; position: relative;
        ul { padding: 0 1px 0 15px; height: 600px; overflow: scroll; }
        li {
            display: block; width: 100%;
            margin-bottom: 5px;
        }
    }

    /* ---------------- Support --------------------------------- */
    /* ------------------------------------------------------------------ */

    #support {
        hr { display: block; }
    }

    #support_content_inner { height: 100%; overflow: scroll; }

    #support_topics {
        display: inline-block; width: 300px; background: transparent;
        ul { border: none; }
        li { border-color: rgba(0, 0, 0, 0.1); }
        li:last-of-type { border: none; }
        a { padding: 15px 5px; }
    }

    #support_content {
        display: inline-block; width: calc(100% - 300px); padding: 0 0 0 30px;
    }
}

/* end media query */