@media #{$break_large} {

    /* ---------------- Global ------------------------------------------ */
    /* ------------------------------------------------------------------ */
    .category_desc { margin-bottom: 20px; }

    hr.decorative_break { margin-bottom: 20px; }

    .category_banner {
        li {width: 25%;}
        li:nth-child(n+4) {display: inline-block;}
    }

    /* ---------------- Header ------------------------------------------ */
    /* ------------------------------------------------------------------ */

    #mobile_nav_toggle { display: none }

    #logo_container {
        width: 225px; padding: 10px 0; margin-left: 20px; vertical-align: middle;
        &.no_search {width: 225px;}
        p { display: block; }
    }

    #logo { width: 100%; }

    #header_right { width: calc(100% - 260px); padding: 0 0; }

    #user_nav {
        width: 240px; display: inline-block; padding: 0; vertical-align: middle; margin-top: 8px;
        li.link { display: inline-block; }
        li.link a:hover { color: #cccccc; }
        a:hover { color: #cccccc; }
    }

    #header_right { position: static;}

    #cart_icon {
        width: 35px; top: -1px;
        span { top: 14px; }
    }

    /* ---------------- Main Nav ------------------------------------------ */
    /* ------------------------------------------------------------------ */

    #main_nav { display: inline-block; }

    /* ---------------- Mobile Nav ------------------------------------------ */
    /* ------------------------------------------------------------------ */

    #mobile_nav { display: none !important; }

    /* ---------------- Homepage ----------------------------------------- */
    /* ------------------------------------------------------------------ */

    #homepage_review_callouts {
        &:hover #homepage_review_callout_stars { color: $color_brand_primary; }
    }

    /* ---------------- Product Listing ------------------------------------------ */
    /* ------------------------------------------------------------------ */

    #filters_container { cursor: pointer; border-radius: 3px;}

    #reset_filters { cursor: pointer }

    .product_list_header_row {
        h2 { font-size: 26px; }
        span { font-size: 16px; }
    }

    /* ---------------- Product Detail -- ------------------------------- */
    /* ------------------------------------------------------------------ */
    #prod_title_group {
        h1 { font-size: 36px; padding: 15px 5px; }
    }

    #size_close {
        span {display: inline;}
    }

    .prod_option_select { cursor: pointer; }

    .prod_option_items { cursor: pointer; }

    #size_guide {
        margin-bottom: 5px;
        a { padding: 10px; }
    }

    #out_of_stock_callout {
        button:hover { background: $color_brand_primary; }
    }

    #social_share {display: block;}

    #review_callouts {
        &:hover #review_callout_stars { color: $color_brand_primary; }
    }

    #prod_overview { padding: 0 30px; }

    #prod_higlights {
        display: inline-block; width: 50%; vertical-align: top; padding: 0 10px;
    }

    #prod_description { display: inline-block; width: 50%; vertical-align: top; padding: 0 20px; }


    /* ---------------- Cart Preview ------------------------------------ */
    /* ------------------------------------------------------------------ */

    #cart_preview_item_inner {
        padding: 20px 50px;
    }

    #cart_preview_actions {
        a:first-of-type:hover { background: $color_brand_primary; color: $color_text_white; }
        a:nth-of-type(2):hover { background: $color_brand_primary; }
    }

    /* ---------------- Shopping Cart ------------------------------------ */
    /* ------------------------------------------------------------------ */

    #cart_price_summary { padding: 15px 25px; }


    /* ---------------- Customer ---------------------------- */
    /* ------------------------------------------------------------------ */
    .customer_orders_item {
        > ul:hover {background: $color_background_secondary; color: $color_text_white; cursor: pointer;}
    }

    /* ---------------- Static Content Pages ------------------------------------------ */
    /* ------------------------------------------------------------------ */

    .static_title_block {
        margin: 40px auto 35px auto;
        .static_title_block h1 { font-size: 32px; }
    }

}

/* end media query */