@media #{$break_x-small} {

    /* ---------------- Header ------------------------------------------ */
    /* ------------------------------------------------------------------ */

    #mobile_nav_toggle {
        width: 85px;
        label { display: block; }
    }

    #logo_container { width: calc(100% - 175px); text-align: center; }


    /* ---------------- Product Listing --------------------------------- */
    /* ------------------------------------------------------------------ */

    .product_list_header_row {
        h2 { font-size: 20px; }
        span { font-size: 14px; }
    }


}

/* end media query */