@media #{$break_small} {

    /* ---------------- Global ------------------------------------------ */
    /* ------------------------------------------------------------------ */

    h1.page_header {
        font-size: 30px; padding: 20px 0;
        &.w_breadcrumbs { padding-top: 5px; }
    }

    .category_desc {
        font-size: 16px;
        p { margin-bottom: 20px; }
    }

    /* ---------------- Site Callout ------------------------------------------ */
    /* ------------------------------------------------------------------ */

    #site_callout_inner {
        padding: 12px 0;
        p:nth-of-type(1) { font-weight: 700; }
        p:nth-of-type(2) { display: inline-block; }
    }

    /* ---------------- Header ------------------------------------------ */
    /* ------------------------------------------------------------------ */

    #mobile_nav_toggle {
        padding: 0 20px; width: 35%;
        label { font-size: 16px; top: -6px; }
    }

    #logo_container {
        padding: 10px 0 15px 0; width: 30%;
        &.no_search { width: 30%; }
    }

    #logo {
        width: 200px;
        img { max-width: none; }
    }

    #header_right { width: 35%; padding: 0; }

    #user_nav {
        padding: 0 20px; top: 10px;
        #support_link { display: inline-block; margin-right: 15px; }
        #search_link { margin: 0; }
        #search_link a { padding: 8px 15px; }
    }

    #search_icon {
        margin: 0;
        #search_icon a { font-size: 18px; padding: 6px 15px 6px 5px; }
    }

    #search_quick_links {
        span { font-size: 12px; margin-bottom: 10px; }
    }

    /* ---------------- Mobile Nav ------------------------------------------ */
    /* ------------------------------------------------------------------ */

    #mobile_nav_items {
        > li > a { font-size: 22px; }
        .nav_lvl_1 > a:after { font-size: 24px; }
    }

    #mobile_nav_items .callout_categories {
        li { width: auto; font-size: 16px; }
        li:nth-child(n+4) { display: inline-block; }
        li:nth-child(n+6) { display: none; }
        a { padding: 20px 20px; font-size: 18px;}
    }

    #mobile_nav_items .standard_categories {
        > li { padding: 15px 25px; }
        span { display: inline-block; width: 175px; vertical-align: middle; }
        span a { display: block; height: 123px; }
    }

    #mobile_nav_items .menu_cat_links {
        width: calc(100% - 190px); font-size: 14px; vertical-align: middle; padding: 0 0 0 15px;
        > a { font-size: 22px; height: auto; padding: 5px; }
        li {
            display: inline-block; padding: 5px;
        }
        li:first-of-type {
            a { color: $color_text_medium; font-weight: 400; }
        }
    }

    /* ---------------- Breadcrumbs ------------------------------------- */
    /* ------------------------------------------------------------------ */

    #breadcrumbs {
        display: block;
    }

    /* ---------------- Footer ------------------------------------------ */
    /* ------------------------------------------------------------------ */

    .footer_link_group {
        a { padding: 8px 5px; }
        li { font-size: 14px; }
    }

    /* ---------------- Homepage ------------------------------------------ */
    /* ------------------------------------------------------------------ */

    #publication_logos {
        padding-bottom: 15px;
        p { margin-bottom: 0px; font-size: 10px; }
        li {
            width: calc(25% - 40px); padding: 0 20px; max-height: none;
            img { height: auto; }
        }
        li:last-of-type { display: inline-block; }
    }

    /* ---------------- Category Landing -------------------------------- */
    /* ------------------------------------------------------------------ */

    #category_items_block {
        li { display: inline-block; width: 50%; padding: 0 10px; }
    }

    /* ---------------- Product Listing --------------------------------- */
    /* ------------------------------------------------------------------ */

    #product_filter_group_block { max-width: 500px; margin: 30px auto 10px auto; }

    #reset_filters { right: -5; }

    #filters_container { background: rgba(0, 0, 0, 0.05); padding: 10px; }

    .filter_item_block {
        position: relative; display: inline-block; width: calc(50% - 5px); margin: 0;
        &:first-of-type { border-bottom: 1px solid rgba(0, 0, 0, 0.1); margin-right: 10px; }
    }

    .filter_list_items { position: absolute; z-index: 99; width: 100%; box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2); }

    .product_list_header_row {
        margin: 20px auto; max-width: 500px;
        h2 { font-size: 22px; }
        span { font-size: 14px; }
    }

    /* ---------------- Product Detail ---------------------------- */
    /* ------------------------------------------------------------------ */

    #prod_content_upper_container { padding-top: 75px; }

    #prod_detail_layout_block_1 {
        p { font-size: 16px; }
    }

    #prod_main_image_inner { top: 0; right: 20px; bottom: 0; left: 20px; }

    .prod_slider_nav {
        display: block;
    }

    #prod_slider_pages {
        margin-bottom: 20px;
        .bx-pager-item { margin-left: 2px; margin-right: 2px; }
        .bx-pager-item a { width: 10px; height: 10px; }
    }

    #prod_title_group {
        top: 5px; left: 20px; width: calc(100% - 40px); padding: 10px 0;
        h1 { font-size: 30px; }
    }

    #prod_price { top: 20px; right: 25px; font-size: 26px; }

    #prod_details_lower { padding-top: 20px; }

    #prod_color_swatches {
        margin: 0 20px;
        li { width: 20%; padding: 0 2px 5px 2px; margin-bottom: 10px; }
    }

    .prod_option_group {
        h5 { font-size: 14px; }
    }

    #size_guide {
        &.active {
            > a { color: $color_brand_secondary; font-size: 28px; padding: 10px 50px; margin-bottom: 10px; }
        }
    }

    #size_guide_more_info {
        p { font-size: 16px; }
    }

    #size_conversion_chart {
        display: block;
    }

    #out_of_stock_callout {
        padding: 20px 150px;
        label { font-size: 16px; padding-bottom: 20px; }
        input { font-size: 14px; }
        button { font-size: 14px; }
    }

    #atc_row {
        button { padding: 25px 0; font-size: 24px; }
    }

    #lifestyle_images { margin-bottom: 30px; }

    #review_callouts_inner {
        padding: 0 100px;
    }

    /* ---------------- Cart Preview ------------------------------------ */
    /* ------------------------------------------------------------------ */

    #cart_preview {
        h5 { font-size: 18px; padding: 15px; }
    }

    #cart_preview_item {
        padding: 20px;
    }

    #cart_preview_image { width: 170px; }

    #cart_preview_qty {
        width: 150px;
        label { margin-bottom: 10px; }
    }

    #cp_qty_select {
        span { display: inline-block; font-size: 14px; width: calc(100% - 60px); text-align: left; padding: 10px 0 10px 10px; }
        i { display: inline-block; font-size: 12px; width: 30px; text-align: center; padding: 10px 0; }
    }

    #cart_preview_actions {
        display: inline-block; width: calc(100% - 330px); vertical-align: middle; margin: 0; text-align: right;
        a { display: inline-block; font-size: 16px; width: 80%; }
    }

    #cart_preview_crossell {
        h6 { font-size: 30px; padding: 15px 0; }
    }

    /* ---------------- Shopping Cart ------------------------------------ */
    /* ------------------------------------------------------------------ */
    #cart_layout_block_1 { display: inline-block; width: 60%; vertical-align: top; padding-right: 20px; }

    #cart_layout_block_2 { display: inline-block; width: 40%; vertical-align: top; padding-right: 15px; border-radius: 5px; overflow: hidden; }

    .ci_image { width: 130px; padding-right: 20px }

    .ci_title_group {
        width: calc(100% - 130px);
        h3 { font-size: 16px; margin-bottom: 10px; }
        li { margin: 0 0 5px 0; font-size: 13px; }
        li span { display: inline; }
    }

    .ci_price { font-size: 16px; }

    .ci_qty {
        display: block; font-size: 0; margin: 0 0 5px 120px;
        > span { font-size: 13px; }
    }

    .ci_remove {
        top: calc(50% - 35px);
        i { font-size: 16px; }
    }

    #cart_security_icons {
        li { padding: 0 5px; font-size: 38px; }
    }

    #cart_summary { background: transparent; }

    #cart_price_summary { background: $color_util_4; border-radius: 3px; }

    #cart_checkout { padding: 0; margin-top: 15px; }

    /* ---------------- Checkout ------------------------------------ */
    /* ------------------------------------------------------------------ */
    #checkout_footer_inner {
        padding: 0 20px; width: 60%;
        ul { padding: 10px 0; }
    }

    /* ---------------- Checkout Breadcrumbs ------------------------------------ */
    /* ------------------------------------------------------------------ */

    #checkout_breadcrumbs { display: block; color: $color_text_medium; }

    #checkout_layout_block_1 { width: 40%; float: right; padding: 10px 15px 30px 0; }

    #checkout_layout_block_2 { width: 60%; padding: 0 20px 50px 20px; }

    /* ------ Checkout Summary ---- */
    #checkout_summary_details_container { display: block !important; border: none; }

    #checkout_summary_items_container { box-shadow: 0 0 1px rgba(0, 0, 0, 0.1); border-radius: 3px; overflow: hidden; }

    #checkout_summary_header { display: none; }

    #checkout_summary_coupon_code { padding: 15px 0; }

    #checkout_summary_prices {
        padding: 20px 0;
        li { padding: 5px 0; }
        li:last-of-type { background: transparent; padding: 15px 0 0 0; }
    }

    /* ------ Checkout Page Content ---- */
    #checkout_layout_block_2 {
        h2 { font-size: 28px; padding: 20px 0 10px 0; }
    }

    #mobile_coupon_code { display: none; }

    .checkout_review_block {
        width: 50%; vertical-align: top; display: inline-block; padding-right: 25px;
    }

    #place_order_top { margin: 10px 0 10px 0; }

    #place_order_bottom { margin: 20px 0 2px 0; }

    #mobile_review_total { display: none; }

    /* ---------------- Thank You Page -------------------------------- */
    /* ------------------------------------------------------------------ */
    #order_thank_you_content {
        h1 { font-size: 36px; }
    }

    /* ---------------- Customer ---------------------------- */
    /* ------------------------------------------------------------------ */
    #customer_account_choice {
        li { display: inline-block; width: 48%; vertical-align: top; }
        li:first-of-type { margin-right: 2%; }
    }

    .customer_account_choice_content {
        min-height: 280px;
        p {min-height: 120px;}
    }

    .customer_account_block {
        padding: 25px 35px;
        h2 { font-size: 24px; margin-bottom: 20px;}
    }

    .customer_details_block {
        display: inline-block; width: 50%; padding-right: 20px;
        &.full_width {width: 100%;}
    }

    #customer_add_new_address {
        a { width: auto; }
    }

    #customer_orders_header {
        > ul {padding: 15px 10px;}
        > ul > li { font-size: 14px; }
    }

    .customer_orders_item {
        > ul {padding: 15px 10px;}
        > ul > li { font-size: 14px; }
    }

    .customer_orders_details { border-width: 3px; padding: 25px;}

    .customer_orders_item {
        i { margin-right: 10px; font-size: 14px;}
    }

    .customer_order_items_group {
        text-align: left;
        .item_1 {width: 35%; text-align: left;}
        .item_2, .item_3 {display: inline-block;}
        .item_2 {width: 25%;}
        .item_3 {width: 15%;}
        .item_4 {width: 10%}
        .item_5 {width: 15%; text-align: right;}
    }

    .customer_order_items_header {
        ul {padding: 10px;}
        li {font-size: 12px; text-transform: uppercase; display: inline-block; width: calc(100% / 5);}

    }

    .customer_order_item_block {
        span {display: inline;}
        > ul {padding: 10px;}
        > ul > li {text-align: left; font-size: 13px;}
    }

    #customer_order_items_summary {
        label {width: calc(100% - 100px); text-align: right;}
        span {width: 100px;}
    }

}

/* end media query */