@media #{$break_small} {

    /* ---------------- Global ------------------------------------------ */
    /* ------------------------------------------------------------------ */

    h1.page_header { font-size: 32px; padding: 20px 0; }

    hr.decorative_break { display: block; }

    .category_banner { display: block; }

    .category_desc { font-size: 16px; }

    /* ---------------- Site Callout ------------------------------------------ */
    /* ------------------------------------------------------------------ */

    #site_callout_inner {
        padding: 10px 0;
        p:nth-of-type(1) { font-weight: 700; }
        p:nth-of-type(2) { display: inline-block; }
    }

    /* ---------------- Header ------------------------------------------ */
    /* ------------------------------------------------------------------ */

    #mobile_nav_toggle {
        padding: 0 20px; width: 35%;
        label { font-size: 16px; top: -6px; }
    }

    #logo_container { padding: 10px 0 15px 0; width: 30%; }

    #logo { width: 200px; }

    #header_right { width: 35%; }

    #user_nav {
        padding: 0 20px; top: 10px;
        #sign_in_link { display: inline-block; margin-right: 15px;}
        #search_link {margin: 0;}
        #search_link a {padding: 8px 15px;}
    }

    #search_icon {
        margin: 0;
        #search_icon a { font-size: 18px; padding: 6px 15px 6px 5px; }
    }

    #search_quick_links {
        span { font-size: 12px; margin-bottom: 10px; }
    }

    /* ---------------- Footer ------------------------------------------ */
    /* ------------------------------------------------------------------ */

    .footer_link_group {
        a { padding: 8px 5px; }
        li { font-size: 14px; }
    }

    /* ---------------- Homepage ------------------------------------------ */
    /* ------------------------------------------------------------------ */

    #publication_logos {
        padding: 10px 10px 15px 10px;
        p { margin-bottom: 0px; }
        li { width: 20%; margin-left: 5%; }
        li:last-of-type { display: inline-block; }
    }

    /* ---------------- Category Landing -------------------------------- */
    /* ------------------------------------------------------------------ */

    #category_items_block {
        li { display: inline-block; width: 50%; padding: 0 10px; }
    }

    /* ---------------- Product Listing ------------------------------------------ */
    /* ------------------------------------------------------------------ */

    .prod_list_group {
        margin-bottom: 50px;
        .prod_list_group h2 { font-size: 22px; }
    }

    .prod_list_items {
        margin-left: 0;
        li { width: 33.33333%; margin: 0; }
    }

    /* ---------------- Static Content Pages ------------------------------------------ */
    /* ------------------------------------------------------------------ */

    .static_title_block {
        margin: 35px auto 30px auto;
        .static_title_block h1 { font-size: 28px; }
    }

}

/* end media query */