@media #{$break_small} {

    /* ---------------- Global ------------------------------------------ */
    /* ------------------------------------------------------------------ */

    h1.page_header { font-size: 32px; padding: 20px 0; }

    hr.decorative_break { max-width: 300px; }

    .category_banner { display: block; }

    .category_desc { font-size: 16px; }

    /* ---------------- Site Callout ------------------------------------------ */
    /* ------------------------------------------------------------------ */

    #site_callout_inner {
        padding: 10px 0;
        p:nth-of-type(1) { font-weight: 700; }
        p:nth-of-type(2) { display: inline-block; }
    }

    /* ---------------- Header ------------------------------------------ */
    /* ------------------------------------------------------------------ */

    #mobile_nav_toggle {
        padding: 0 20px; width: 35%;
        label { font-size: 16px; top: -6px; }
    }

    #logo_container { padding: 10px 0 15px 0; width: 30%; }

    #logo { width: 200px; }

    #header_right { width: 35%; }

    #user_nav {
        padding: 0 20px; top: 10px;
        #sign_in_link { display: inline-block; margin-right: 15px; }
        #search_link { margin: 0; }
        #search_link a { padding: 8px 15px; }
    }

    #search_icon {
        margin: 0;
        #search_icon a { font-size: 18px; padding: 6px 15px 6px 5px; }
    }

    #search_quick_links {
        span { font-size: 12px; margin-bottom: 10px; }
    }

    /* ---------------- Footer ------------------------------------------ */
    /* ------------------------------------------------------------------ */

    .footer_link_group {
        a { padding: 8px 5px; }
        li { font-size: 14px; }
    }

    /* ---------------- Homepage ------------------------------------------ */
    /* ------------------------------------------------------------------ */

    #publication_logos {
        padding: 10px 10px 15px 10px;
        p { margin-bottom: 0px; }
        li { width: 20%; margin-left: 5%; }
        li:last-of-type { display: inline-block; }
    }

    /* ---------------- Category Landing -------------------------------- */
    /* ------------------------------------------------------------------ */

    #category_items_block {
        li { display: inline-block; width: 50%; padding: 0 10px; }
    }

    /* ---------------- Product Listing --------------------------------- */
    /* ------------------------------------------------------------------ */

    #product_filter_group_block { max-width: 500px; margin: 30px auto 10px auto; }

    #reset_filters { right: -5; }

    #filters_container { background: rgba(0, 0, 0, 0.05); padding: 10px; }

    .filter_item_block {
        position: relative; display: inline-block; width: calc(50% - 5px); margin: 0;
        &:first-of-type { border-bottom: 1px solid rgba(0, 0, 0, 0.1); margin-right: 10px; }
    }

    .filter_list_items { position: absolute; width: 100%; box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2); }

    .product_list_header_row {
        margin: 20px auto; max-width: 500px;
        h2 { font-size: 22px; }
        span { font-size: 14px; }
    }

    .product_list_items {
        li { width: calc(100% / 3); padding-left: 20px; }
        h3 { font-size: 12px; }
    }

    /* ---------------- Product Detail ---------------------------- */
    /* ------------------------------------------------------------------ */

    #prod_content_container { padding-top: 85px; }

    #prod_detail_left {
        p { font-size: 18px; }
    }

    #prod_main_image_inner { top: 0; right: 20px; bottom: 0; left: 20px; }

    .prod_slider_nav {
        display: block;
    }

    #prod_slider_pages {
        .bx-pager-item { margin-left: 2px; margin-right: 2px; }
        .bx-pager-item a { width: 10px; height: 10px; }
    }

    #prod_title_group {
        top: 15px; left: 20px; width: calc(100% - 40px); padding: 10px 0;
        h1 { font-size: 28px; }
    }

    #prod_price { top: 20px; right: 25px; font-size: 26px; }

    #prod_color_swatches {
        margin: 0 20px;
        li {display: inline-block; width: 20%; padding: 0 2px 5px 2px; border-bottom: 2px solid transparent; margin-bottom: 10px;}
    }

    /* ---------------- Static Content Pages ---------------------------- */
    /* ------------------------------------------------------------------ */

    .static_title_block {
        margin: 35px auto 30px auto;
        .static_title_block h1 { font-size: 28px; }
    }

}

/* end media query */