@media #{$break_large} {

    /* ---------------- Global ------------------------------------------ */
    /* ------------------------------------------------------------------ */



    /* ---------------- Header ------------------------------------------ */
    /* ------------------------------------------------------------------ */

    #logo_container { margin-left: 0; }

    #header_right { width: calc(100% - 250px); padding: 0; }


    /* ---------------- Main Nav ------------------------------------------ */
    /* ------------------------------------------------------------------ */
    #main_nav_items {
        > li > a { font-size: 22px; }
    }

    #main_nav_items .nav_lvl_2 {
        > li a {font-size: 18px; font-weight: 300;}
    }

}

/* end media query */