@media #{$break_x-large} {

    /* ---------------- Global ------------------------------------------ */
    /* ------------------------------------------------------------------ */

    /* ---------------- Header ------------------------------------------ */
    /* ------------------------------------------------------------------ */

    #logo_container { margin-left: 0; }

    #header_right { width: calc(100% - 250px); padding: 0; }

    /* ---------------- Main Nav ------------------------------------------ */
    /* ------------------------------------------------------------------ */

    #main_nav_items {
        > li > a { font-size: 28px; }
    }

    #main_nav_items .menu_cat_links {
        font-size: 16px;
        li {margin-bottom: 8px;}
        > a { font-size: 24px; }
    }

    /* ---------------- Cart Preview ------------------------------------ */
    /* ------------------------------------------------------------------ */
    #cart_preview_item {

        padding: 25px 0;
    }

}

/* end media query */