@media #{$break_large} {

    /* ---------------- Global ------------------------------------------ */
    /* ------------------------------------------------------------------ */
    .site_width {
        &.padded { padding: 0; }
    }


    /* ---------------- Header ------------------------------------------ */
    /* ------------------------------------------------------------------ */

    #logo_container { margin-left: 0; }

    #header_right { width: calc(100% - 250px); padding: 0; }

}

/* end media query */