/* ---------------- Global ------------------------------------------ */
/* ------------------------------------------------------------------ */

#site_container { position: relative; min-height: 100%; }

#site_content_container { background: $color_background_main; }

h1.page_header { font-size: 24px; font-weight: 400; max-width: 500px; text-align: center; margin: 0 auto; font-family: $font_din_regular; text-transform: uppercase; letter-spacing: -.03em; color: $color_text_dark; padding: 15px 20px; }

h2.page_subhead { font-size: 18px; font-weight: 300; text-align: center; margin: 10px 0; }

hr.decorative_break { border: none; border-top: 1px dotted rgba(0, 0, 0, 0.2); max-width: 200px; margin: 0 auto 10px auto; height: 1px; }

.category_desc { text-align: center; font-weight: 300; line-height: 1.6; max-width: 700px; margin: 0 auto 10px auto; padding: 0 20px; }

.category_banner {
    @extend %site_width;
    display: none;
    background: $color_util_1; padding-top: 15%; text-align: center;
}

.global-site-notice { background: $color_brand_primary; }

.notice-inner { max-width: 1400px; margin: 0 auto; color: $color_text_white; text-align: center; padding: 10px 0; }

#scroll_arrow {
    position: fixed; bottom: 20px; left: calc(50% - 25px); text-align: center; width: 50px; height: 50px; font-size: 30px; background: rgba(0,0,0,0.5); color: rgba(0,0,0,0.5); padding: 20px; border-radius: 50px;
}

/* ---------------- Site Callout ------------------------------------------ */
/* ------------------------------------------------------------------ */

#site_callout {
    background: $color_background_secondary; color: $color_text_white;
    a { color: $color_text_white; }
}

#site_callout_inner {
    @extend %site_width;
    text-align: center; padding: 5px 0;
    p { display: inline-block; text-transform: uppercase; }
    p:nth-of-type(2) { display: none; margin-left: 20px; font-weight: 300; }
}

/* ---------------- Header ------------------------------------------ */
/* ------------------------------------------------------------------ */

#site_header { position: relative; z-index: 100; background: #ffffff; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); }

#site_header_inner {
    @extend %site_width;
    font-size: 0; vertical-align: middle;
}

#mobile_nav_toggle {
    position: relative; top: 1px; width: 50px; display: inline-block; vertical-align: middle; padding: 0 10px;
    label { display: none; font-size: 12px; font-weight: 300; position: relative; top: -3px; text-transform: uppercase; margin-left: 35px; }
    a { color: $color_text_medium; position: relative; display: block; height: 30px; padding: 15px 0 0 0; }
    span, span:before, span:after { position: absolute; display: block; content: ''; background: #666666; width: 25px; height: 4px; transition: all 0.3s; }
    span:before { top: -7px; }
    span:after { bottom: -7px; }
    &.active span { background: transparent; }
    &.active span:before, &.active span:after { top: 0; }
    &.active span:before { -webkit-transform: rotate(45deg); transform: rotate(45deg); }
    &.active span:after { -webkit-transform: rotate(-45deg); transform: rotate(-45deg); }
}

#logo_container {
    width: calc(100% - 140px); display: inline-block; vertical-align: middle; text-align: center; padding: 10px 0;
    a { display: inline-block; color: $color_text_light; }
    p { display: none; font-size: 12px; text-transform: uppercase; text-align: center; margin-top: 10px; }
}

#logo {
    width: 150px;
    img { width: 100%; }
}

#header_right { position: relative; top: 3px; width: 90px; display: inline-block; text-align: right; vertical-align: middle; padding: 0 10px 0 0; }

#user_nav {
    li { display: inline-block; vertical-align: middle; }
    li.link { border-right: 1px solid rgba(0, 0, 0, 0.1); }
    li.link a { padding: 10px 15px; font-weight: 300; display: block; font-size: 14px; text-transform: uppercase; color: $color_text_medium; }
    #sign_in_link, #support_link { display: none; }
    #search_link a { padding: 8px 10px; }
    #search_link { margin-right: 10px; }
    #search_link i { font-size: 18px; }
    #search_link span { display: none; margin-left: 10px; }
}

#cart_icon {
    display: block; position: relative; background: url("#{$path_image}cart_icon_off.svg") no-repeat; background-size: contain; width: 32px; height: 35px; text-align: center;
    span { position: absolute; font-size: 14px; display: block; top: 12px; left: 0; width: 100%; text-align: center; color: rgba(255, 255, 255, 0.5); }
}

#site_search {
    display: none; position: absolute; z-index: 999; width: 100%; background: $color_background_main; font-size: 0; border-top: 1px solid #ffffff; border-top: 1px solid rgba(0, 0, 0, 0.1); border-bottom: 1px solid rgba(255, 255, 255, 0.8); box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    &.active { display: block; }
}

#search_bar {
    @extend %site_width; padding: 10px;
}

#search_bar_inner {
    background: #ffffff; border: 2px solid $color_util_1; border-radius: 30px; width: 100%; padding: 10px 15px; margin-right: 50px;
    input { background: transparent; border: none; width: calc(100% - 35px); font-size: 14px; color: $color_text_medium; }
    button { font-family: $font_fontAwesome; width: 35px; font-size: 16px; background: rgba(0, 0, 0, 0.1); border: none; border-radius: 20px; padding: 9px 10px; color: rgba(0, 0, 0, 0.2); }
}

#search_utility_links {
    background: rgba(0, 0, 0, 0.03); border-top: 1px solid rgba(0, 0, 0, 0.08); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5); padding: 10px 15px;
    span { font-size: 11px; display: block; color: $color_text_light; margin-bottom: 5px; }
    ul { font-size: 0; }
    li { display: block; font-size: 14px; margin-left: -5px; }
    a { color: $color_text_medium; display: block; padding: 8px 5px; }
}

/* ---------------- Mobile Nav ------------------------------------------ */
/* ------------------------------------------------------------------ */

#mobile_nav {
    position: absolute; z-index: 999; left: 0; height: 100%; width: 100%; border-top: 1px solid rgba(0, 0, 0, 0.1); background: $color_background_main; display: none;
}

#mobile_nav_items {
    li { border-top: 1px solid rgba(255, 255, 255, 0.8); border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
    li ul { display: none; }
    li:first-child { border-top-color: #ffffff; }
    a { display: block; padding: 15px 20px; font-size: 16px; color: $color_text_dark; text-transform: uppercase; }
    a:active { background: rgba(0, 0, 0, 0.05); }
}

#mobile_social_links {
    font-size: 0; padding: 15px;
    li:first-of-type { margin: 0; }
    li { display: inline-block; font-size: 30px; margin-left: 10px; }
    a { color: $color_text_light; }
}

/* ---------------- Main Nav ------------------------------------------ */
/* ------------------------------------------------------------------ */

#main_nav { display: none; text-align: right; }

#main_nav_items {
    > li { display: inline-block; font-size: 20px; }
    > li > a { display: inline-block; font-size: 20px; color: $color_text_dark; text-transform: uppercase; padding: 20px 15px 0 15px; height: 55px; border-bottom: 2px solid transparent; font-weight: 300; }
    > li > a:hover, #main_nav_items > li > a.active { color: $color_brand_primary; }
    > li.last-link > a { padding-right: 0; }
    > li.last-link > a { padding-right: 0; }
    > li.active > a { border-color: $color_brand_primary; }
    > li.nav_lvl_1 > a:after { display: inline-block; font-family: $font_fontAwesome; position: relative; top: -2px; margin-left: 10px; content: '\f107'; font-size: 20px; color: rgba(0, 0, 0, 0.3); vertical-align: middle; }
}

#main_nav_items .nav_lvl_2 {
    border-top: 1px solid rgba(0, 0, 0, 0.1); display: none; position: absolute; width: 100%; left: 0; font-size: 0; background: $color_background_main; text-align: center; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); padding: 0 20px;
    > li { display: inline-block; width: calc(100% / 4); padding: 0 10px; }
    > li a { display: block; text-align: center; font-size: 16px; font-weight: 300; text-transform: uppercase; color: $color_text_dark; }
    > li a:hover { color: $color_text_medium; }
    > li a:active { color: $color_text_light; }
    span { display: block; background-size: contain; padding-top: 70%; }
    p { @extend %border_title; margin: 10px 0 20px 0; }
}

.nav-1-1 span { background: url("#{$path_image}category_image/category_go_to_work.jpg") no-repeat center center; }

.nav-1-2 span { background: url("#{$path_image}category_image/category_un-sneaker.jpg") no-repeat center center; }

.nav-1-3 span { background: url("#{$path_image}category_image/category_limited_edition.jpg") no-repeat center center; }

/* ---------------- Footer ------------------------------------------ */
/* ------------------------------------------------------------------ */

#site_footer {
    color: #f4f4f4; font-size: 0; padding: 15px;
    a { color: #f4f4f4; }
    a:active { background: rgba(0, 0, 0, 0.1); }
}

#site_footer_inner {
    @extend %site_width;
}

.footer_link_group {
    display: inline-block; width: 50%; vertical-align: top; text-transform: uppercase; margin-bottom: 15px;
    li { font-size: 12px; text-transform: uppercase; }
    a { display: block; padding: 8px 5px; }
}

#footer_email_group {
    border-top: 1px solid rgba(0, 0, 0, 0.2); padding: 15px 0 0 0;
    h5 { font-size: 12px; text-transform: uppercase; font-weight: 700; margin-bottom: 5px; }
    p { font-size: 12px; margin-bottom: 10px; }
    address { font-size: 12px; color: rgba(255, 255, 255, 0.5); margin: 15px 0 0 0; }
}

#footer_email_input {
    display: inline-block; width: calc(100% - 100px); background: #ffffff;
    input { display: block; width: 100%; height: 40px; background: transparent; border: none; color: #4c4c4c; padding: 0 0 0 10px; }
}

#footer_email_submit {
    width: 100px; display: inline-block;
    button { width: 100%; display: block; background: rgba(0, 0, 0, 0.5); color: #ffffff; border: none; height: 40px; }
}

#footer_social_links {
    font-size: 0; margin: 25px 0 0 0;
    li { display: inline-block; font-size: 12px; margin-right: 10px; }
    a { display: block; }
    i { font-size: 35px; }
}

#mobile_nav #social_links { color: rgba(0, 0, 0, 0.5); }

/* ---------------- Homepage ----------------------------------------- */
/* ------------------------------------------------------------------ */

#homepage_slideshow { background: $color_util_1; padding-top: 35%; text-align: center; }

#publication_logos {
    padding: 5px 5px 10px 5px; text-align: center;
    p { display: inline-block; text-transform: uppercase; font-size: 10px; margin-bottom: 5px; color: $color_text_light; }
    ul { font-size: 0; text-align: center; }
    li { display: inline-block; width: 30%; margin-left: 3%; max-width: 175px; vertical-align: middle; }
    li img { width: 100%; opacity: 0.5; }
    li:first-of-type { margin: 0; }
    li:last-of-type { display: none; }
}

/* ---------------- Breadcrumbs ------------------------------------- */
/* ------------------------------------------------------------------ */

#breadcrumbs {
    @extend %site_width;
    display: none; padding: 10px 10px 0 10px; font-size: 0; font-weight: 300;
    ul {text-align: center; font-size: 14px;}
    li {display: inline-block;}
    li:last-of-type a:after {content: '';}
    a {display: block; padding: 10px 5px;}
    a:after {content: '/'; display: inline-block; padding: 0 0 0 10px;}
    a {display: block; padding: 10px 5px; color: $color_text_medium;}
}


.homepage_feature_block { text-align: center; background: #e5e5e5; }

/* ---------------- Category Landing -------------------------------- */
/* ------------------------------------------------------------------ */
#category_items_block {
    @extend %site_width_padded;
    padding-bottom: 20px;
    ul { font-size: 0; text-align: center; }
    li { margin-bottom: 10px; }
    a { display: block; color: $color_text_dark; }
    a:active { color: $color_text_light; }
    h3 { @extend %border_title; font-size: 20px; text-transform: uppercase; font-weight: 300; margin-top: 10px; }
}

/* ---------------- Product Listing --------------------------------- */
/* ------------------------------------------------------------------ */

#product_filter_group_block {
    position: relative; margin: 20px auto 10px auto; max-width: 430px;
    h6 { font-size: 12px; text-transform: uppercase; text-align: center; font-weight: 700; margin-bottom: 10px; color: $color_text_dark; }
}

#reset_filters {
    position: absolute; top: 0; right: 10px; display: none; font-size: 12px;
    i { margin-right: 5px; }
    a { color: $color_text_light; padding: 5px; }
}

#filters_container { font-size: 0; }

.filter_item_block {
    border-top: 1px solid rgba(0, 0, 0, 0.1); border-bottom: 1px solid rgba(0, 0, 0, 0.1); margin: 0 15px;
    &:first-of-type { border-bottom: none; }
}

.filter_label {
    background: $color_util_4; font-size: 0;
    label { display: inline-block; padding: 15px 10px; font-size: 12px; color: $color_text_dark; text-transform: uppercase; width: 70px; }
    span { display: inline-block; text-align: right; padding-right: 10px; font-size: 12px; color: $color_text_medium; width: calc(100% - 90px); }
    i { display: inline-block; width: 10px; font-family: $font_fontAwesome; font-size: 14px; color: $color_text_light; }
}

.filter_list_items {
    display: none; background: #f3f2f0; border-top: 1px solid rgba(0, 0, 0, 0.1);
    li { display: block; color: $color_text_dark; padding: 15px 20px; font-size: 14px; border-bottom: 1px dotted rgba(0, 0, 0, 0.1); }
    li.active { background: $color_brand_secondary; color: $color_text_white; }
    li.grid {display: inline-block; width: 50%; text-align: center; border-right: 1px solid rgba(0,0,0,0.1); border-bottom: 1px solid rgba(0,0,0,0.1); padding: 15px 0;}
    li.grid:nth-child(2n) {border-right: none;}
}

#product_list_loader {
    text-align: center; font-size: 0;
    img { display: inline-block; visibility: hidden; }
    img.active { visibility: visible; }
}

.product_list_group_block { @extend %site_width_padded; }

.product_list_header_row {
    max-width: 400px; margin: 10px auto; text-align: center; border-top: 1px dotted rgba(0, 0, 0, 0.2); border-bottom: 1px dotted rgba(0, 0, 0, 0.2); padding: 10px 0; background: $color_util_4;
    h2 { display: inline-block; font-size: 18px; font-weight: 400; font-family: $font_din_regular, sans-serif; text-transform: uppercase; color: $color_text_dark; vertical-align: middle; }
    span { display: inline-block; vertical-align: middle; color: $color_text_light; margin-left: 5px; font-weight: 300; }
}

.product_list_items {
    font-size: 0; margin: 10px 0 0 -20px; text-align: center; padding: 0 0 15px 0;
    li { display: inline-block; width: 50%; padding-left: 20px; margin-bottom: 10px; }
    img { max-width: 100%; }
    h3 { font-size: 11px; font-weight: 300; text-align: center; margin: 5px 0 0 0; }
    a { color: $color_text_medium; }
}

/* ---------------- Product Detail ------------------------------------------ */
/* ------------------------------------------------------------------ */

#prod_content_container {
    @extend %site_width; position: relative; padding-top: 75px; font-size: 0;
}

#prod_detail_layout_block_1 {
    font-size: 14px;
    p { text-align: center; margin-bottom: 15px; color: $color_text_light; font-weight: 300; }
}

#prod_detail_layout_block_2 { font-size: 14px; }

#prod_main_image_block {
    position: relative;
    p { }
}

#prod_main_image { position: relative; height: 0; padding-top: 65%; overflow: hidden; }

#prod_main_image_inner { position: absolute; top: 0; right: 10px; bottom: 0; left: 10px; }

.prod_slider_nav {
    display: none; position: absolute; top: calc(50% - 25px);
    a { font-family: $font_fontAwesome; display: block; width: 20px; font-size: 26px; height: 50px; overflow: hidden; color: rgba(0, 0, 0, 0.2); }
}

#prod_slider_left { left: 5px; }

#prod_slider_right { right: 5px; }

#prod_slider_pages {
    text-align: center; font-size: 0; margin-bottom: 15px;
    .bx-pager-item { display: inline-block; margin-left: 2px; margin-right: 2px }
    .bx-pager-item a { display: block; text-indent: -999px; overflow: hidden; width: 8px; height: 8px; background: rgba(0, 0, 0, 0.1); border-radius: 20px; }
    .bx-pager-item a.active { background: rgba(0, 0, 0, 0.5); }
    .bx-pager-item img {display: none;}

}

#prod_title_group {
    position: absolute; top: 10px; left: 0; width: 100%; background: #ffffff; padding: 10px 0; text-align: center; border-top: 1px dotted rgba(0, 0, 0, 0.2); border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
    h1 { font-family: $font_din_regular; text-transform: uppercase; font-weight: 400; color: $color_text_dark; font-size: 20px; margin-bottom: 5px; }
}

#prod_price_review_block { font-size: 0; text-align: center; }

#prod_price { position: absolute; top: 18px; right: 10px; font-size: 20px; color: $color_text_medium; vertical-align: middle; }

#prod_review_summary {
    display: inline-block; font-size: 12px; vertical-align: middle;
    i { color: $color_brand_primary; }
}

#prod_details_lower { }

#color_option_name {display: none; margin: 10px 0 0 15px; color: $color_text_medium;}

#prod_color_swatches {
    margin: 0 5px;
    ul { font-size: 0; text-align: center; }
    li { display: inline-block; width: 20%; padding: 0 2px 3px 2px; border-bottom: 2px solid transparent; margin-bottom: 5px; }
    li.active { border-color: rgba(0, 0, 0, 0.3); }
}

.prod_option_group {
    @extend %content_margin_offset; margin-top: 10px; margin-bottom: 10px;
    h5 { font-size: 12px; color: $color_text_medium; text-transform: uppercase; font-weight: 400; margin-bottom: 5px; padding-left: 5px; }
    &:last-of-type { margin-bottom: 0; }
}

.prod_option_select {
    background: #ffffff; box-shadow: 0 0 1px rgba(0, 0, 0, 0.2); border-radius: 3px;
    span { display: block; padding: 15px; }
    span:after { content: '\f107'; display: inline-block; float: right; width: 10px; font-family: $font_fontAwesome; font-size: 16px; color: $color_text_light; }
}

.prod_option_items {
    display: none; background: #f3f2f0; border-top: 1px solid rgba(0, 0, 0, 0.1); font-size: 0;
    li { font-size: 14px; padding: 15px 20px; border-bottom: 1px dotted rgba(0, 0, 0, 0.1); }
    li.no_stock { color: #bfbfbf; }
    li.active { background: $color_brand_secondary; color: #ffffff; }
    li.grid {display: inline-block; width: 20%; text-align: center; border-right: 1px solid rgba(0,0,0,0.1); border-bottom: 1px solid rgba(0,0,0,0.1); padding: 15px 0;}
    li.grid:nth-child(5n) {border-right: none;}
}

#size_guide {
     text-align: center; margin: 3px 0;
    a {display: inline-block; padding: 15px 15px; color: $color_text_medium; font-weight: 300;}
    i { margin-right: 5px; color: $color_text_light;}
}

#inventory_message {
    @extend %content_margin_offset;
    display: none; background: #fff6e5; padding: 15px; margin-bottom: 10px; text-align: center;
    i {margin-right: 10px; color: rgba(255,164,0,0.5);}
}

#atc_row {
    @extend %content_margin_offset;
    button { font-family: $font_roboto; display: block; width: 100%; padding: 15px 0; text-align: center; background: $color_brand_secondary; border: none; color: $color_text_white; font-size: 20px; border-radius: 3px; }
    button:active { background: $color_brand_primary; }

}

#shipping_callout {
    @extend %content_margin_offset;
    color: $color_text_medium; text-transform: uppercase; border-top: 1px dotted rgba(0, 0, 0, 0.2); border-bottom: 1px dotted rgba(0, 0, 0, 0.2); font-weight: 300; padding: 15px; text-align: center; margin-top: 15px;
    i { margin-right: 10px; }
}

/* ---------------- Static Content Pages ------------------------------------------ */
/* ------------------------------------------------------------------ */

.full_width_image_block { }

.full_width_image_block img { width: 100%; }

.static_title_block { max-width: 600px; margin: 20px auto; text-align: center; }

.static_title_block h1 { font-size: 24px; font-family: $font_din_regular, sans-serif; border-top: 1px dotted rgba(0, 0, 0, 0.2); border-bottom: 1px dotted rgba(0, 0, 0, 0.2); padding: 20px 0; text-transform: uppercase; }

.static_content_block { font-size: 16px; line-height: 1.6; max-width: 600px; margin: 15px auto; padding: 0 30px; }

.static_content_block p { margin-bottom: 20px; }