#customer_content { }

#customer_account_choice {
    ul { max-width: 850px; font-size: 0; margin: 0 auto; padding: 10px 20px 20px 20px; }
    li {
        @extend %customer_form;
        font-size: 14px; border-radius: 3px; overflow: hidden;
    }
    li:first-child { margin-bottom: 20px; }
    h2 { font-size: 24px; color: $color_text_dark; background: #ffffff; font-family: $font_din_regular; text-transform: uppercase; padding: 10px; text-align: center; border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
}

.customer_account_choice_content {
    padding: 20px; border-top: 1px solid #ffffff; text-align: center;
    p { text-align: left; min-height: 100px; font-weight: 300;}
    label { text-align: left; }
    a.forgot_password { display: inline-block; margin-top: 15px; }
}

#basic_form_intro {
    @extend %customer_section_small;
    padding: 0 15px 20px 15px; text-align: center; font-weight: 300;
    h6 {font-size: 16px; margin-bottom: 5px; font-weight: 700;}
    p {
        font-size: 16px; line-height: 1.3;
        &.padded {margin-bottom: 10px;}
    }
}

#basic_form_box { @extend %customer_section_small_container; }

#basic_form_box_inner {
    @extend %customer_section_small;
    @extend %customer_form;
    h2 {font-family: $font_din_regular; color: $color_text_dark; text-transform: uppercase; font-size: 24px; margin: 20px 0 15px 0; padding-bottom: 5px; border-bottom: 1px solid rgba(0,0,0,0.1); box-shadow: 0 1px 0 #ffffff;}
    h2:first-of-type {margin-top: 0;}
}

#customer_account { }

#customer_account_nav {
    background: $color_util_4;
    ul {font-size: 0; text-align: center; padding-top: 1px;}
    li {
        display: inline-block; font-size: 14px; width: calc(100% / 3); max-width: 200px;
        a {
            display: block; padding: 15px; text-transform: uppercase; color: $color_text_medium; border-bottom: 3px solid transparent;
            &.active {color: $color_brand_secondary; border-color: $color_brand_primary; background: #ffffff;}
            &:before {font-family: $font_fontAwesome; display: block; font-size: 20px;}
        }
        span {display: block; margin-top: 5px;}
        &.item_1 a:before {content: '\f007';}
        &.item_2 a:before {content: '\f041';}
        &.item_3 a:before {content: '\f08b';}
    }
}

.customer_account_block {
    @extend %site_width;
    display: none; padding: 15px;
    h2 {font-family: $font_din_regular; color: $color_text_dark; font-size: 20px; text-transform: uppercase; border-bottom: 1px solid rgba(0,0,0,0.1); padding: 0 0 10px 0; margin-bottom: 15px;}
    h3 {font-size: 14px; text-transform: uppercase; margin-bottom: 10px; color: $color_text_dark;}
    &.active {display: block;}
}

.customer_details_group {font-size: 0;}

.customer_details_block {
    vertical-align: top; margin-bottom: 20px; line-height: 1.5; font-size: 14px;
    b {font-weight: bold; display: block; margin-bottom: 5px;}
    address {font-style: normal; }
    span {display: block; margin-top: 5px;}
    a {display: block; padding: 10px 0;}
}

#customer_account_orders {
    h3 {border-bottom: 1px dotted rgba(0,0,0,0.2); padding: 0 0 5px 0;}
}

#customer_orders_header {
    font-size: 0;
    text-transform: uppercase;
    > ul {padding: 15px 0;}
    > ul > li { display: inline-block; vertical-align: top; font-size: 11px; text-align: left; min-width: 70px; padding: 0 5px; width: calc(100% / 4); font-weight: 400; }
}

.customer_orders_item {
    font-size: 0;
    > ul {padding: 15px 0;}
    > ul > li { display: inline-block; vertical-align: top; font-size: 11px; text-align: left; min-width: 70px; padding: 0 5px; width: calc(100% / 4); font-weight: 400; }
    &:nth-child(even) {background: $color_util_4;}
    &.active {
        background: $color_background_secondary; color: $color_text_white;
        i {
            &:before { content: '\f070';}
        }
    }
    a {display: inline;}
    i {
        display: inline-block; font-size: 12px; margin-right: 5px; font-style: normal;
        &:before {font-family: $font_fontAwesome; content: '\f06e'; }
    }
}

#guest_order {
    @extend %site_width;
    padding: 20px 15px; display: block; border: none; font-size: 0;
    a {display: inline;}
}

.customer_orders_details { display: none; background: #ffffff; border: 2px solid $color_background_secondary; border-top: none; padding: 15px; color: $color_text_base;}

.customer_order_items_group {
    text-align: center;
    .item_1 {width: 50%; text-align: left;}
    .item_2, .item_3 {display: none;}
    .item_4, .item_5 {width: 25%;}
}

.customer_order_items_header {
    ul {font-size: 0; background: $color_util_4; padding: 5px;}
    li {font-size: 11px; text-transform: uppercase; display: inline-block;}

}

.customer_order_item_block {
    span {display: none;}
    > ul {font-size: 0; border-bottom: 1px solid rgba(0,0,0,0.1); padding: 10px 5px 10px 5px;}
    > ul > li {display: inline-block; font-size: 12px; vertical-align: top; text-align: center;}
}

#customer_order_items_summary {
    background: $color_util_4; padding: 10px;
    li {font-size: 0; padding-bottom: 3px;}
    li:last-of-type {text-transform: uppercase; font-weight: 700;}
    label {display: inline-block; width: 50%; font-size: 14px;}
    span {display: inline-block; width: 50%; font-size: 14px; text-align: right; margin: 0;}
}

#customer_add_new_address {
    padding-bottom: 15px;
    a {
        display: inline-block; background: $color_util_4; width: 100%; text-align: center; padding: 15px 25px;
        &:before {content: '\f234'; font-family: $font_fontAwesome; margin-right: 10px;}
    }
}

#customer_update_password_option {
    label {
        font-weight: 400; display: block; padding-bottom: 15px;
        &:before {display: inline-block; content: '\f096'; font-family: $font_fontAwesome; font-size: 20px; vertical-align: middle; width: 25px;}
        &.active {
            &:before {content: '\f046';}
        }
    }

}

#customer_edit_password { display: none; }