/* ------------------ Resets ------------------------------------------------------- */
* {margin: 0; padding: 0; box-sizing: border-box;}

html,body {height: 100%;}

body {font-size: 14px; font-family: $font_lato; font-weight: 400; line-height: 1; color: $color_text_base; background: $color_brand_secondary; -webkit-text-size-adjust: 100%;}

h1,h2,h3,h4,h5,h6 {font-weight: 400;}

/* Default Link Styles */
a {
    color: $color_link; text-decoration: none;
    @media #{$break_large} {
        color: $color_link_hover;
    }
}

/* Default List Styles */
ul, ol {list-style-type: none;}

/* Default img style */
img {border: none; max-width: 100%;}

/* Default focus style */
:focus {outline: none;}

::selection {background: $color_brand_primary;}

select {color: $color_text_base; font-family: $font_sans_serif;}
